######################
# Python
######################
__pycache__
**/.ipynb_checkpoints/

######################
# IntelliJ
######################
**/.idea/
**/.DS_Store
######################
# R
######################
**/.RData
**/.Rhistory

######################
# Project Specific
######################
/predictions.tsv
