######################
# Python
######################
__pycache__
.ipynb_checkpoints

######################
# IntelliJ
######################
.idea/

######################
# R
######################
.RData
.Rhistory

######################
# Project Specific
######################
/predictions.tsv
